body {
    background-color: #f0f0f0;
    font-family: "Source Sans Pro",sans-serif;
}


.header {
    background-color: #f0f0f0;
    /*background-image: url(../img/bg-top.jpg); */
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 3px rgba(190, 190, 190, 0.75);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;
}
.header img {
    float: left;
    height: 150px;
    margin-right: 15px;
    padding: 11px;
}

