.header {
    background-color: #f0f0f0;
    /*background-image: url(../img/bg-top.jpg); */
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 3px rgba(190, 190, 190, 0.75);
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: auto;
    padding: 20px 0;
    margin-bottom: 20px;
}